# Admin configurations
ADMIN_PASSCODE=IITDHANBADECELL2620
PORT=3000

# Neon PostgreSQL connection string
DATABASE_URL=postgres://username:password@ep-host.region.pooler.neon.tech/dbname?sslmode=require

# Cloudinary configurations
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Nodemailer / SMTP configurations
ADMIN_EMAIL=admin@iitdh.ac.in
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=your_gmail_app_password
